<!-- <div class="container mt -5">
    <div class="card">

        <div class="row p-3">

            <div class="col-6">
                <form #orderForm="ngForm" (ngSubmit)="placeOrder(orderForm) ">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Full Name</mat-label>
                        <input matInput placeholder="Full name" [(ngModel)]="OrderDetails.orderFullName" name="fullName"
                            required />
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>FullAddress</mat-label>
                        <input matInput placeholder="FullAddress" [(ngModel)]="OrderDetails.orderFullAddress"
                            name="FullAddress" required />
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>ContactNumber</mat-label>
                        <input matInput placeholder="ContactNumber" [(ngModel)]="OrderDetails.orderContactNumber"
                            name="ContactNumber" required />
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>AlternateContactNumber</mat-label>
                        <input matInput placeholder="AlternateContactNumber"
                            [(ngModel)]="OrderDetails.orderAlternateNumber" name="AlternateContactNumber" required />
                    </mat-form-field>

                    <div class="d-flex  mt-3" align="right">
                        <button mat-flat-button color="primary" type="submit">Place Order</button>
                    </div>




                </form>


            </div>

            <div class="col-6">

            </div>
        </div>
    </div>

</div> -->



<div class="container mt-5">
    <div class="card">
        <div class="row p-3">

            <div class="col-md-6">
                <form #orderForm="ngForm" (ngSubmit)="createTransactionAndPlaceOrder(orderForm)">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Full Name</mat-label>
                        <input matInput placeholder="Full name" [(ngModel)]="OrderDetails.fullName" name="orderFullName"
                            required />
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Full Address</mat-label>
                        <input matInput placeholder="Full Address" [(ngModel)]="OrderDetails.fullAdrress"
                            name="orderFullAddress" required />
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Contact Number</mat-label>
                        <input matInput type="tel" placeholder="Contact Number" [(ngModel)]="OrderDetails.contactNumber"
                            name="orderContactNumber" required pattern="^[6-9]\d{9}$" #contactNumber="ngModel"
                            maxlength="10" minlength="10" />
                        <mat-error *ngIf="contactNumber.invalid && contactNumber.touched">
                            Please enter a valid 10-digit number.
                        </mat-error>
                    </mat-form-field>


                    <mat-form-field appearance="outline" class="w-100">
                        <!-- <mat-label>Alternate Contact Number</mat-label> -->
                        <input matInput type="tel" placeholder="Alternate Contact Number"
                            [(ngModel)]="OrderDetails.alternatNumber" name="orderAlternateNumber" required
                            pattern="^[6-9]\d{9}$" #alternateNumber="ngModel" maxlength="10" minlength="10" />
                        <mat-error *ngIf="alternateNumber.invalid && alternateNumber.touched">
                            Please enter a valid 10-digit number.
                        </mat-error>
                    </mat-form-field>

                    <div class="d-flex mt-3 justify-content-end">
                        <button mat-flat-button color="primary" type="submit" [disabled]="orderForm.invalid">Place
                            Order</button>
                    </div>
                </form>
            </div>


            <div class="col-md-6">

                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Total
                            </th>
                        </tr>
                    </thead>

                    <tbody class="tbody">
                        <tr *ngFor="let product of productDetails">
                            <td>
                                {{product.productName}}

                            </td>

                            <td>
                                {{product.productDiscountedPrice}}
                            </td>
                            <td>
                                <select #Quantity class="form-select"
                                    [ngModel]="getQuantityForProduct(product.productId)"
                                    (change)="onQuantityChange(Quantity.value , product.productId)">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="3">4</option>
                                </select>
                            </td>

                            <td>
                                <strong>₹{{getCalculatedTotal(product.productId,product.productDiscountedPrice)}}</strong>
                            </td>

                        </tr>
                        <tr>
                            <td colspan="2">


                            </td>
                            <td>
                                <strong>Total</strong>
                            </td>
                            <td>
                                <strong> ₹{{getCalculatedGrandTotal()}}</strong>

                            </td>
                        </tr>

                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>