<div class="container mt-5  ">

    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="font-toggle-group">
        <mat-button-toggle value="All" (click)="getAllOrderDetails('All')">All</mat-button-toggle>
        <mat-button-toggle value="Placed" (click)="getAllOrderDetails('Placed')">Placed</mat-button-toggle>
        <mat-button-toggle value="Delivered" (click)="getAllOrderDetails('Delivered')">Delivered</mat-button-toggle>
    </mat-button-toggle-group>

    <table mat-table [dataSource]="getOrderDetail" class="mat-elevation-z8 mat-table-custom">

        <!-- Name Column -->
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{ element.orderFullName|| 'N/A' }} </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="Address">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let element"> {{ element.orderFullAddress || 'N/A' }} </td>
        </ng-container>

        <!-- Actual Price Column -->
        <ng-container matColumnDef="ContactNo">
            <th mat-header-cell *matHeaderCellDef> Contact No </th>
            <td mat-cell *matCellDef="let element"> {{ element.orderContactNumber }} </td>
        </ng-container>

        <!-- Discounted Price Column -->

        <ng-container matColumnDef="Amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let element"> ₹{{ element.orderAmount}}
            </td>
        </ng-container>

        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{ element.orderStatus }}
            </td>
        </ng-container>

        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <button [disabled]="element.orderStatus !== 'placed'" mat-raised-button
                    (click)="markAsDelivered(element.orderId)">Marked as delivered</button>
            </td>
        </ng-container>

        <!-- Table Header & Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
</div>